:root {
    --primary-color: rgb(11, 78, 179)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

/* Global Style  */
input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

.input-group {
    margin: 2rem 0;
}

.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

/* Form */
.form-step {
    display: none;
    animation: animate 0.5s;
    transform-origin: top;

}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
        top: 10%
    }

    to {
        transform: scale(1, 1);
        opacity: 100%;

    }
}

.form-step-active {
    display: block;
}

.form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5em;
}

/* progession bar  */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;


}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dcdcdc;
    background-color: var(--primary-color);
    transition: 0.5s;
    width: 0%;
}
    



.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;

}

.progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
    animation: 0.5s;
}



/* bitton */
.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;

}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
    transition: 0.3s;
}